.menu .item.active{
  font-weight: bold;
}
:host ::ng-deep {
  #toc a.active {
    font-weight: bold;
  }
  .nehan-td.nehan-e-name img,
  .nehan-e-speak a,
  .nehan-e-tip,
  .nehan-e-notes {
    cursor: pointer;
  }
  a.nehan-inline.nehan-a{
    color: #4183c4;
  }
  a.nehan-inline.nehan-a:hover{
    color: #1e70bf;
  }
}
