.menu .item.active{
  font-weight: bold;
}
:host ::ng-deep {
  #toc a.active {
    font-weight: bold;
  }
  .nehan-td.nehan-e-name img,
  .nehan-e-speak a,
  .nehan-e-tip,
  .nehan-e-notes {
    cursor: pointer;
  }
}
